In [3]:
import pandas as pd
data = {
  '번호':[1,2,3,4,5,6,7],
  '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자'],
  '국어':[100,80,90,60,100,80,100],
  '영어':[100,80,90,65,100,80,100],
  '수학':[99,85,91,67,84,71,90],
  '합계':[299,245,271,192,284,231,290],
  '평균':[99.67,81.67,90.33,64.0,94.67,77.0,96.67],
  '등수':[0,0,0,0,0,0,0]
}
df = pd.DataFrame(data)

In [4]:
df.index=['1번','2번','3번','4번','5번','6번','7번']
df.index.name = '지원번호'
df

      번호   이름   국어   영어  수학   합계     평균  등수
지원번호
1번     1  홍길동  100  100  99  299  99.67   0
2번     2  유관순   80   80  85  245  81.67   0
3번     3  이순신   90   90  91  271  90.33   0
4번     4  강감찬   60   65  67  192  64.00   0
5번     5   김구  100  100  84  284  94.67   0
6번     6  김유신   80   80  71  231  77.00   0
7번     7  홍길자  100  100  90  290  96.67   0

In [ ]:
## csv파일로 저장
df.to_csv('score.csv',encoding='utf-8-sig')

In [10]:
# index없이 저장하려면
df.to_csv('score.csv',encoding='utf-8-sig',index=False)

In [7]:
# txt 저장
df.to_csv('score.txt',encoding='utf-8-sig')

In [8]:
# excel 저장
df.to_excel('score.xlsx')

In [9]:
# csv() = comma-separated values ,구분자설정
df.to_csv('score.csv',sep='\t',encoding='utf-8-sig')