In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('chipotle.tsv',sep='\t')
df.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
df['item_price'] = df['item_price'].str[1:].astype(float)

In [ ]:
# 메뉴별 주문수량 출력
df['item_name'].value_counts()
# 메뉴별 총 주문량 출력
len(df['order_id'].unique())
# 주문당 평균 계산 금액 출력
df.groupby('order_id')['item_price'].mean()
# 아이템 별 가격 금액 출력
df.groupby('item_name')['item_price'].min()
# 주문별, 높은 가격순으로 주문 개수 출력
df.groupby('order_id')['item_price'].count().sort_values(ascending=False)

order_id
926     23
1483    14
205     12
759     11
691     11
        ..
60       1
66       1
72       1
1813     1
2        1
Name: item_price, Length: 1834, dtype: int64